@import '@/../node_modules/sass-material-colors/sass/sass-material-colors';

/* Theme Colors */
$primaryColor: material-color('cyan', '800');
$secondaryColor: material-color('cyan', '900');
$accentColor: material-color('orange', 'a400');

/* Borders */
$border-tiny: 2px;
$border-small: 3px;
$border-medium: 5px;
