/* ====================================================================================================== */
/* All Elements */
/* ====================================================================================================== */

* {
    box-sizing: border-box;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

/* ====================================================================================================== */
/* End - All Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Top Level Elements */
/* ====================================================================================================== */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    overflow: auto !important;
}

/* ====================================================================================================== */
/* End - Top Level Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Custom Styles */
/* ====================================================================================================== */

.auto-height {
    height: auto !important;
}

/* ====================================================================================================== */
/* End - Custom Styles */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Custom Elements */
/* ====================================================================================================== */

.v-toolbar {
    .v-toolbar__items {
        button.v-btn {
            &.route-indicator.router-link-exact-active {
                border-bottom: $border-medium solid $accentColor;
            }
        }
    }
}

.v-tooltip {
    &.d-flex {
        span:first-child {
            display: flex;
        }
    }
}

.v-card {
    &.transparent {
        background: transparent !important;
    }

    &.flat {
        box-shadow: none !important;
    }
}

/* ====================================================================================================== */
/* End - Custom Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Scroll Bars */
/* ====================================================================================================== */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $secondaryColor;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.8);
    // border-radius: 3px;
}

/* ====================================================================================================== */
/* End - Scroll Bars */
/* ====================================================================================================== */

//
//
//
